<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Secrets-Empty.plist
   Gif My Life

   Created by Ali Kayhan on 8.01.2018.
   Copyright (c) 2018 Ali Kayhan. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>gfycatClientSecret</key>
        <string>INSERT_YOUR_CLIENT_SECRET</string>
        <key>gfycatClientID</key>
        <string>INSERT_YOUR_CLIENT_ID</string>
    </dict>
</plist>
